@model List<Adapter.Controllers.Quiz>

@{
    ViewBag.Title = "List";
    WebGrid webGrid = new WebGrid(source: Model);
}

<h2>List</h2>

@webGrid.GetHtml(
        htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
        columns: webGrid.Columns(
                          // webGrid.Column(header: "Scheduled", format: @<text><input name="chkscheduled"
                          //                                                        type="checkbox" value="@item.ID" /></text>),


                          webGrid.Column(
                                format: @<text> <input type="checkbox" value="@item.IsScheduled" name="ids" /> </text>,
                                        header: "{checkall}"
                                    ),

                                 webGrid.Column("Id", "Id"),
                                 webGrid.Column("Name", "Name"),
                                 webGrid.Column("StartTime", "StartTime")))


<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .Grid {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }

        .Grid th {
            background-color: #F7F7F7;
            font-weight: bold;
        }

        .Grid th, .Grid td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        .Grid, .Grid table td {
            border: 0px solid #ccc;
        }

            .Grid th a, .Grid th a:visited {
                color: #333;
            }
</style>

